<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/spacelab/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

		<nav class="navbar navbar-default navbar-fixed-top">
      <div style="background-color:bisque;" class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navLinks">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h3 class="navbar-toggle collapsed" id="collapsedNavTitle">Mars Habitat Sim</h3>
        <a class="navbar-brand" href="/"><img style="height:45px;margin-top:-12px;"src="/images/marsLogo.jpg" alt="planetMars" /> </a>
      </div>
      <div id="navLinks" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/newAstronaut">Add Astronaut Model</a></li>
          <li><a href="/newEnvironment">Add Environment Model</a></li>
          <li><a href="/newLab">Add Laboratory Model</a></li>
          <li><a href="/newHabitat">Add Habitat Model</a></li>
        </ul>
        <h2 id="navTitle">Mars Habitat Simulator</h2>
      </div>
    </nav>