<% include ./partials/header %>

  <body id="indexBody">
    <div class="container">
    	<div class="row">
    		<div class="col-xs-6"><img id="indexImage" src="/images/mars-planet-profile.jpg" alt="MarsProfile"></div>
    		<div id="indexContent" class="col-xs-6">
    			<h1>Welcome to the Simulator</h1>
    			<br>
    			<div id="indexPara">
    				<p>This is an app that allows you to simulate different habitat designs for living on Mars for an extended period of time. You can change the astronaut, environment, laboratory, and habitat parameters to see what designs are possible and the payload weight for this configuration. The estimates are based on a 500 day mission and assume that growning food on the planet surface may not be viable.</p>
    				<p>After the 500 day mission is completed, hopefully techniques researched will be ways to lay the ground work for a more permanent settlement solution with sustainable agriculture development and better radiation protection.</p>
    			</div>
    		</div>
    	</div>
    </div>
  </body>
</html>
