<% include ./partials/header %>

	<div class="container-fluid">
      <h1>Add Astronaut</h1>
      <div style="text-align:center;margin-top:10px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContainer">
          Add Astronaut
        </button>
      </div>
      <br><br>
      <div style="color:yellow;font-size:20px;" class="row">
      	<div class="col-xs-3">Oxygen Requirements <br>
      		<div style="color:black;font-size:18px;" class="row">
      			<div id="o2" class="col-xs-12"> kg/day</div>
      		</div>
      	</div>
      	<div class="col-xs-3">Food Requirements <br>
      		<div style="color:black;font-size:18px;" class="row">
      			<div id="food" class="col-xs-12"> kcals/day</div>
      		</div>
      	</div>
      	<div class="col-xs-3">Waste Productions <br>
      		<div style="color:black;font-size:18px;" class="row">
      			<div id="waste" class="col-xs-12"> kg/day</div>
      		</div>
      	</div>
      	<div class="col-xs-3">Radiation Tolerance <br>
      		<div style="color:black;font-size:18px;" class="row">
      			<div id="rad" class="col-xs-12"> milliSieverts/yr</div>
      		</div>
      	</div>
      </div>
      
      <div id="modalContainer" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" >&times;</button>
              <h4 class="modal-title">Add a Astronaut Model</h4>
            </div>
            <div class="modal-body">
              <form id="addForm">
                <div class="form-group">
                  <label for="o2Req">Oxygen Requirements (kg/day)</label>
                  <input id="o2Req" class="form-control" type="number" step="any" name="o2Req" value="">
                </div>
                <div class="form-group">
                  <label for="foodReq">Food Requirements (kcals/day)</label>
                  <input id="foodReq" class="form-control" type="number" name="foodReq" value="">
                </div>
                <div class="form-group">
                  <label for="wasteAmt">Waste Production (kg/day)</label>
                  <input id="wasteAmt" class="form-control" type="number" step="any" name="wasteAmt" value="">
                </div>
                <div class="form-group">
                  <label for="radTol">Radiation Tolerance (milliSieverts/year)</label>
                  <input id="radTol" class="form-control" type="number" name="radTol" value="">
                </div>
                <button class="btn btn-primary" type="submit" name="submit">Save</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>

</body>
</html>